.Rules {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0.5rem;
  flex-direction: column;
  background: transparent;
  text-align: center;
  z-index: 40;
}

.sampleCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > .Card {
    transform: scale(0.9);
  }
}

.Card-Link {
  width: 200px;
  max-width: 200px;
  height: auto;
  margin: 3rem auto;
  border-radius: 0.5rem;
  border: none;
  aspect-ratio: 3 / 2;
  outline: none;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
