@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Baskervville:ital,wght@0,400..700;1,400..700&family=Caprasimo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sen:wght@400..800&family=Yeseva+One&display=swap");

.Tutorial {
  font-family: "Montserrat", sans-serif;
  min-height: fit-content;
  width: calc(100vw - 2rem);
  max-width: 700px;
  border-radius: 2rem;
  font-size: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(49, 44, 44, 0.71);
  background-color: #fafafa;
  opacity: 0.88;
  z-index: 20;
  margin-top: 3rem;

  & .Next {
    justify-self: flex-end;
    margin-top: 2rem;
    margin-right: 1rem;
    height: 2.5rem;
    font-size: 1.2rem;
    color: var(--main);
    border-color: var(--light);
    opacity: 0.5;
    background-color: transparent;
  }

  & .Next:hover {
    opacity: 1;
  }
}
