.Game {
  flex-wrap: wrap;
  position: relative;
  padding: 0;
}

.GameOverWrapper {
  aspect-ratio: unset;
  transition: all 1s;
  transition-delay: 0.5s;
  width: 1px;
  height: 150px;
  z-index: 11;
  min-height: 140px;
}

.CardWrapper {
  zindex: 10;
  transition: all 0.8s;
}
