@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Dissection {
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
}

.Explanation {
  flex-direction: column;
}

.Dissection_cards > * {
  width: 30%;
  min-width: unset;
}

.Dissection_cards {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  max-width: 500px;
  margin: 1rem auto 1.5rem;
}

.question {
  position: absolute;
  right: 40px;
  top: 0;
  width: fit-content;
  min-width: 300px;
  padding: 0.5rem 2rem;
  min-height: 3rem;
  background-color: #fff;
  border: 1px solid purple;
  border-radius: 1.5rem;

  z-index: 100000;
  font-size: 1.3rem;
  text-align: center;
  filter: saturate(10%);
  border: 1px solid darkgray;
  text-align: center;
  padding: 0.6rem 3rem;
  border-radius: 3rem;
  line-height: 1.1;
  background: beige;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: -0.02rem;
  transition: all 0.5s;
}
