@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Baskervville:ital,wght@0,400..700;1,400..700&family=Caprasimo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sen:wght@400..800&family=Yeseva+One&display=swap");

.TutorialStep {
  padding: 1.2rem 1rem;
  width: 100%;
  opacity: 0.3;
  transition: all 0.3s;
  height: 3.7rem;
  max-width: 100%;
  overflow: hidden;
  font-size: 1.1rem;
  filter: contrast(80%) grayscale(30%);
  line-height: 1.3;
  color: var(--main);
  background-color: var(--light);

  &:not(:last-child) {
    border-bottom: 1px solid rgb(54, 51, 51);
  }
  & ul,
  & ol {
    list-style: decimal inside;
  }
}

.TutorialStepTitle {
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  width: 100%;
  max-width: calc(100vw - 2rem);
  text-transform: uppercase;
  font-family: "Josefin Sans", "Quicksand", sans-serif;
}

.TutorialStepAnswer {
  text-align: justify;
  width: 100%;
  max-width: calc(100vw - 4rem);
  padding: 1rem;
  color: rgba(0, 0, 0, 0.8);
  @media screen and (max-width: 500px) {
    font-size: 0.9rem;
  }
}

.TutorialStepSelected {
  opacity: 1;
  width: 100%;
  height: fit-content;
}
