.BlankButton {
  width: 9rem;
  height: 3rem;
  background-color: transparent;
  border: 2px solid var(--purple);
  border-radius: 1.5rem;
  color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.5s ease;
  z-index: 10;

  @media screen and (max-width: 500px) {
   /* flex-direction: column; */
  width: fit-content;
  padding: 0 1rem;
  }
}

.BlankButton:disabled {
  filter: grayscale(80%) brightness(120%);
  opacity: 0.4;
  background-color: var(--purpleLight);
  color: whitesmoke;
  pointer-events: none;
  cursor: not-allowed;
}

.BlankButton:hover {
  background-color: var(--light);
}
