.SetAnalysis {
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px;
  font-size: medium;
}

.FeatureRow {
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
  max-width: 700px;
  line-height: 2.5rem;
  display: grid;
  gap: 0;
  height: 3.5rem;
  overflow: hidden;
  grid-template-columns: 90px 1fr 1fr 1fr 130px;
  text-align: center;
  @media screen and (min-width: 700px) {
    padding: 0 3rem;
  }

  @media screen and (max-width: 500px) {
    padding: 0;

    font-size: 0.8rem;
    grid-template-columns: 90px 1fr 1fr 1fr 110px;
    width: 112%;
    min-width: 100%;
    overflow: visible;
    margin: 0 -6%;
  }
}

.FeatureLabel {
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Box {
  font-weight: 700;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  border: 2px solid var(--black600);
  z-index: 10;

  @media screen and (max-width: 500px) {
    height: 1.5rem;
    width: 1.5rem;
  }
}
.FeatureRow .Symbol_wrapper {
  @media screen and (max-width: 500px) {
    transform: scale(0.7);
  }
}

.Box-red {
  background-color: var(--redLight);
  border-color: var(--red);
}

.Box-purple {
  background-color: var(--purpleLight);
  border-color: var(--purple);
}

.Box-green {
  background-color: var(--greenLight);
  border-color: var(--green);
}

.Box-filled {
  background-color: grey;
}

.Box-blank {
  background-color: transparent;
}

.Box-shaded {
  background: repeating-linear-gradient(90deg, transparent, grey 2px);
}
.SetAnalysisResult,
.SetAnalysisResult span {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

.FeatureValue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
}

.Cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
